.back-container {

  width: 80%;
  min-height: 200px;
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 10px;
  padding: 1rem;
  background: url('../../public/images/bg-card-back.png') no-repeat;
  background-size: contain;
  z-index: 0;

}

.cvc-info {

  position: absolute;
  top: 36%;
  right: 13%;

}