@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&family=Space+Grotesk:wght@500&display=swap');

.form-container {

  width: 100%;
  position: relative;
  margin-top: 2rem;
  padding: 0 1.7rem;

}

.card-form {

  display: flex;
  flex-wrap: wrap;
  row-gap: .5rem;

}

.date-cvc-container {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: .3rem;

}

.month,
.year {

  width: 18%;
  padding-left: .5rem;

}

.cvc {

  width: 58%;

}

.expiration-label {

  width: 55%;

}

.cvc-label {

  width: 45%;

}

input {

  width: 100%;
  border-width: 2px;
  border-radius: 10px;
  height: 65px;
  padding-left: 1rem;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;

}

.name:focus,
.name:active {

  outline-color: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));

}

p {

  width: 100%;

}

.submit-button {

  width: 100%;
  height: 70px;
  margin-top: 1rem;
  border-radius: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  background-color:  hsl(278, 68%, 11%);
  color: white;

}

@media (min-width: 376px) {

  .form-container {

    width: 60%;
    height: 100vh;


  }

  .card-form {

    width: 50%;
    height: 50%;
    display: block;
    position: absolute;
    top: 29%;
    right: 17%;
    align-items: center;

  }

  label {

    display: block;
    margin-bottom: .8rem;

  }

  input {

    margin-bottom: 2.5rem;


  }

  .expiration-label {

    width: 47%;

  }

  .cvc-label {

    width: 53%;

  }

  .month {

    width: 20%;
    margin-right: 1rem;

  }

  .year {

    width: 20%;
    margin-right: 2rem;

  }

  .cvc {

    width: 52.5%;

  }

  .date-cvc-container {

    justify-content: flex-start;

  }

}